* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    background: linear-gradient(90deg, rgba(21, 162, 254, 0.6) 0%, rgba(228, 44, 140, 0.6) 100%), #FFFFFF;
}

main{
    height: 100vh;
}

button{
    cursor: pointer;
}

/*Navbar*/
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.nav-left {
    background: linear-gradient(90deg, #FFFFFF 0%, #15A2FE 100%);
    color: #FFFFFF;
    width: 15%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

.nav-responsive-sidebar {
    display: none;
}

.responsive-ultimatum-logo {
    display: none;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #15A2FE 0%, #E42C8C 100%);
    width: 85%;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

.nav-right-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.voorraad-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    width: 100%;
    max-width: 301px;
    height: 44px;
    background: #F44336;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.voorraad-button p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.header-buttons-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    max-width: 348px;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
    max-width: 44px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #03A9F4;
}

.geopend-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    width: 100%;
    max-width: 140px;
    height: 44px;
    background: #4CAF50;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.geopend-button p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/*#Navbar*/

/*Main*/
main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*Sidebar*/
aside {
    order: 0;
    background: #000000;
    width: 15%;
}

aside a {
    text-decoration: none;
}

.sidebar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 55px;
    cursor: pointer;
    color: #FFFFFF;
}

.sidebar-content-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-left: 25px;
}

.sidebar-div:hover {
    background: #03A9F4;
}

.sidebar-div p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

/*#Sidebar*/

/*Kassa*/
/*Section*/
section {
    display: flex;
    flex-direction: row;
    order: 1;
    width: 85%;
}

.section-left {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    gap: 20px;
}

.section-right {
    width: 35%;
    padding-top: 20px;
    padding-right: 40px;
}

.textbox-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #3F51B5;
    border-radius: 8px;
}

.section-textbox {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    border: none;
}

.section-textbox:focus {
    outline-width: 0;
}

.textbox-div img {
    cursor: pointer;
}

.section-pizza-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.pizza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 130px;
    height: 130px;
    background: #D6543E;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
}

.pizza p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.section-table-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
}

.table-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 73px;
    background: #03A9F4;
    border-radius: 8px 8px 0px 0px;
}

.table-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.table-header img {
    margin-left: 35px;
}

.table-body {
    width: 100%;
    height: 504px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 8px 8px;
}

.table-body-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
    gap: 20px;
    height: 444px;
}

.table-body-contents-first {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 44px;
    background: #03A9F4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
}

.table-body-contents-first p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.table-body-contents-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 152px;
}

.contents-second-twin-buttons-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 44px;
}

.contents-second-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    border: 1px solid #03A9F4;
    background-color: #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
}

.table-body-contents-second p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #555555;
}

.table-body-contents-second button:active {
    background: #03A9F4;
}

.table-body-contents-second button:active p {
    color: #FFFFFF;
}

hr {
    width: 100%;
    border: 1px solid #DDDDDD;
}

.table-body-contents-third {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 104px;
}

.table-body-contents-third button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    gap: 5px;
    border: 1px solid #03A9F4;
    border-radius: 50px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.table-body-contents-third button:active {
    background: green;
}

.table-body-contents-third button:active p {
    color: #FFFFFF;
}

.table-body-contents-third p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #03A9F4;
}

.table-body-contents-fourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 44px;
    background: #4CAF50;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
    border: none;
}

.table-body-contents-fourth p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/*#Section*/
/*#Kassa*/


/*#Main*/

/*Tools*/
.justify-content-space-between {
    justify-content: space-between;
}

.margin-right {
    margin-right: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left {
    margin-left: 20px;
}

.grey {
    color: #333333;
}

.orange {
    background: #D6543E;
}

.pink {
    background: #CC448A;
}

.brown {
    background: #795548;
}

.green {
    background: #4CAF50;
}

.blue {
    background: #59ADFA;
}

.dark-blue {
    background: #3F51B5;
}

.light-orange {
    background: #FF9800;
}

.bg-green {
    background: #4CAF50;
}

.bg-yellow {
    background: #FFC83B;
}

.bg-pink {
    background: #E91E63;
}

.bg-blue {
    background: #2196F3;
}

/*#Tools*/

/*Logos*/
.pizza-logo {
    width: 100%;
    max-width: 60px;
    height: 60px;
    margin-left: 60px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.ultimatum-logo {
    width: 100%;
    max-width: 174.02px;
    height: 27.25px;
    margin-left: 40px;
}

/*#Logos*/

/*Responsive*/
@media screen and (max-width: 700px) {
    .nav-right {
        justify-content: flex-start;
        width: 100%;
    }

    .nav-right-right {
        gap: 5px;
        /*flex-wrap: wrap;*/
    }

    .nav-responsive-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 32px;
        background: none;
        border: none;
        margin-left: 8px;
        cursor: pointer;
    }

    .ultimatum-logo {
        display: none;
    }

    .responsive-ultimatum-logo {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 14px;
        margin-left: 7px;
        margin-right: 5px;
    }

    .voorraad-button {
        padding: 12px;
    }

    .voorraad-button p {
        display: none;
    }

    .geopend-button {
        padding: 12px;
    }

    .geopend-button p {
        display: none;
    }

    .header-buttons-div {
        gap: 5px;
    }

    section {
        flex-direction: column;
        width: 95%;
        margin: 15px;
    }

    .section-left {
        width: 100%;
        gap: 15px;
        padding: 0;
        margin-bottom: 15px;
    }

    .section-right {
        width: 100%;
        padding: 0;
    }

    .section-pizza-div {
        gap: 10px;
    }

    .pizza {
        width: 100%;
        max-width: 126px;
        height: 130px;
    }
}

@media screen and (max-width: 1300px) {
    aside {
        display: none;
        position: absolute;
        width: auto;
        height: 100%;
        z-index: 3;
    }

    .nav-left {
        display: none;
    }

    .nav-right {
        justify-content: flex-start;
        width: 100%;
    }

    .nav-responsive-sidebar {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 32px;
        background: none;
        border: none;
        margin-left: 8px;
        cursor: pointer;
    }

    .ultimatum-logo {
        margin-left: 20px;
    }

    .nav-right-right {
        margin-right: 20px;
        gap: 10px;
    }

    section {
        width: 100%;
    }

    .voorraad-button {
        margin-left: 10px;
    }
}

@media screen and (max-width: 850px) {
    .voorraad-button {
        padding: 12px;
    }

    .voorraad-button p {
        display: none;
    }
}

/*#Responsive*/
